<ion-header mode="ios" #header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/home" color="inria-icon"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'PLAYER.SCORE.HEADER' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper" *ngIf="epoc && assessmentData && !badgeMode">
    <div class="title-container">
      <div class="title-icon">
        <ion-icon name="star-outline"></ion-icon>
      </div>
      <h5 class="title">
        {{'PLAYER.SCORE.TOTAL_SCORE' | translate}}
      </h5>
    </div>
    <div class="score">
      <div class="score-points">
          {{assessmentData.totalUserScore}} {{'PLAYER.SCORE.PTS' | translate}}
      </div>
      <div class="score-chart">
        <score-progress [progress]="assessmentData.totalUserScore / assessmentData.totalScore * 100"
                        [delta]="assessmentData.userScore / assessmentData.totalScore * 100"
                        [threshold]="epoc.certificateScore / assessmentData.totalScore * 100"
                        [minLabel]="0"
                        [maxLabel]="assessmentData.totalScore"></score-progress>
      </div>
    </div>
    <div class="certificate" *ngIf="!certificateEnabled">
      <h5>{{'PLAYER.SCORE.CONTINUE' | translate}}</h5>
      <p [translate]="'PLAYER.SCORE.REMAINING'" [translateParams]="{remaining: epoc.certificateScore - assessmentData.totalUserScore}"></p>
      <ion-button size="medium" expand="block" color="medium" fill="outline" (click)="getCertificate()">
        <ion-icon name="download-outline" slot="start"></ion-icon>
        <span>{{'PLAYER.SCORE.GET_CERTIFICATE' | translate}}</span>
      </ion-button>
    </div>
    <div class="certificate success" *ngIf="certificateEnabled">
      <ion-icon class="badge" src="/assets/icon/badge.svg"></ion-icon>
      <h5>{{'PLAYER.SCORE.CONGRATS' | translate}}</h5>
      <p>{{'PLAYER.SCORE.CERTIFICATE_WIN' | translate}}</p>
      <ion-button size="medium" expand="block" (click)="getCertificate()">
        <ion-icon name="download-outline" slot="start"></ion-icon>
        <span>{{'PLAYER.SCORE.GET_CERTIFICATE' | translate}}</span>
      </ion-button>
    </div>
    <div class="short-access">
      <h4 class="short-access-label">{{'PLAYER.SCORE.PTS_RECAP' | translate}}</h4>
      <ng-container *ngFor="let assessment of assessments">
        <div class="short-access-item" [routerLink]="'/epoc/play/'+epoc.id+'/'+assessment.chapterId+'/content/'+assessment.id">
          <ion-label>{{assessment.title}}</ion-label>
          <ion-note [color]="assessment.score !== null ? assessment.score < assessment.scoreTotal ? 'inria-certificate':'inria-correct':'inria-icon'" *ngIf="assessment.scoreTotal > 0">
            {{assessment.score ? assessment.score : 0}}/{{assessment.scoreTotal}}
          </ion-note>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="wrapper" *ngIf="epoc && badgeMode">
    <div class="certificate flex" *ngIf="!certificateEnabled">
      <div class="certificate-text">
        <h6>{{'PLAYER.SCORE.CONTINUE' | translate}}</h6>
        <p [translate]="'PLAYER.SCORE.BADGE_REMAINING'" [translateParams]="{remaining: epoc.certificateBadgeCount - unlockedBadges.length}"></p>
      </div>
      <div class="certificate-badge">
        <badge icon="cert-grey" grey="true" nobg="true"></badge>
      </div>
    </div>
    <div class="certificate flex success" *ngIf="certificateEnabled">
      <div class="certificate-text">
        <h6>{{'PLAYER.SCORE.CONGRATS' | translate}}</h6>
        <p>{{'PLAYER.SCORE.CERTIFICATE_WIN' | translate}}</p>
      </div>
      <div class="certificate-badge">
        <badge icon="cert" nobg="true"></badge>
      </div>
      <ion-button size="medium" expand="block" (click)="getCertificate()">
        <ion-icon name="download-outline" slot="start"></ion-icon>
        <span>{{'PLAYER.SCORE.GET_CERTIFICATE' | translate}}</span>
      </ion-button>
    </div>
    <div class="badge-list">
      <div class="badge-item" [ngClass]="{'unlocked': unlockedBadges.includes(badge.id)}" *ngFor="let badge of (epoc.badges | denormalize)" (click)="showBadgeDetail(badge)">
        <badge [title]="badge.title" [icon]="badge.icon" [locked]="!unlockedBadges.includes(badge.id)"></badge>
      </div>
    </div>
  </div>
</ion-content>
<badge-modal *ngIf="badgeModal" [showModal]="showBadgeModal" [badge]="badgeModal" [epoc]="epoc" [reading]="reading" (dismiss)="showBadgeModal = false"></badge-modal>
