.wrapper{
  max-width: 600px;
  margin:auto;
  padding: 1rem;
}

.title-container{
  margin-bottom: 1rem;
  text-align: center;

  .title-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width:3rem;
    height:3rem;
    margin: 0 auto 1rem auto;
    font-size: 1.5rem;
    border-radius: 1rem;
  }

  .title{
    font-size: 1.5rem;
    font-weight: bold;
  }

  &:after{
    content:'';
    display: block;
    width: 80px;
    height:4px;
    margin: 10px auto;
    border-radius: 2px;
    background: var(--ion-color-inria);
  }
}

.score{
  text-align: center;

  &-points{
    font-size: 2rem;
    font-weight: bold;
  }
}

.certificate{
  position: relative;
  margin: 1rem 0;
  padding: 1rem;
  background: var(--ion-color-contrast);
  border-radius: .5rem;

  &.flex {
    display: flex;
    flex-wrap: wrap;
  }

  &-text {
    width: calc(100% - 1rem - 75px);
    margin-right: 1rem;
  }

  &-badge {
    width: 75px;
    flex-shrink: 0;
  }

  ion-button {
    margin-top: 1rem;
  }

  &.success{
    color: white;
    background: var(--ion-color-inria-certificate);

    ion-button{
      width:100%;
      flex-shrink: 0;
      --background: white;
      --background-activated: var(--ion-color-light);
      --background-focused: var(--ion-color-light);
      ion-icon, span{
        color: var(--ion-color-inria-certificate);
      }
    }
  }

  .badge{
    position: absolute;
    top:1rem;
    right:.5rem;
    font-size: 4rem;
  }

  h5{
    font-size: 2rem;
    font-weight: bold;
  }

  h6{
    font-size: 1.4rem;
    font-weight: bold;
    margin:0 0 5px 0;
  }

  p {
    margin: 0;
  }
}

.badge-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.badge-item {
  width: calc(33.333% - 10px);
  margin: 0 5px 20px 5px;
}

.short-access{
  &-label{
    margin-top: 0;
    padding: .5em 0 .25em 0;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--ion-color-inria);
    border-bottom: 1px solid var(--ion-color-item);
  }

  &-item{
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: .5rem;
    border-radius: .5rem;
    background: var(--ion-color-item);

    &:last-child{
      margin-bottom: 0;
    }

    ion-label{
      padding-top: .3rem;
      flex-grow: 1;
    }

    ion-note{
      padding-top: .3rem;
      margin: 0 .5rem;
    }
  }
}
