<div class="preview-contents" *ngIf="epocId && epoc">
  <div class="preview-content">
    <app-card>
      <div class="epoc-title">
        <h3>{{epoc.title}}</h3>
      </div>

      <div class="epoc-trailer">
        <video-player [src]="epoc.teaser" [poster]="epoc.image" [controls]="{show:false, timeline: true, overlay: true}"></video-player>
      </div>

      <div class="epoc-specs">
        <div class="epoc-spec">
          <div class="epoc-spec-icon"><ion-icon name="reader-outline"></ion-icon></div>
          <div class="epoc-spec-value">
            {{epoc.chaptersCount}} {{'OVERVIEW_PAGE.CHAPTERS' | plural: epoc.chaptersCount | translate}}
          </div>
        </div>
        <div class="epoc-spec">
          <div class="epoc-spec-icon"><ion-icon name="cube-outline"></ion-icon></div>
          <div class="epoc-spec-value">{{epoc.assessmentsCount}} {{'OVERVIEW_PAGE.ACTIVITIES' | plural: epoc.assessmentsCount | translate}}</div>
        </div>
        <div class="epoc-spec">
          <div class="epoc-spec-icon"><ion-icon name="time-outline"></ion-icon></div>
          <div class="epoc-spec-value">{{epoc.chapterDuration || 10}} {{'OVERVIEW_PAGE.MIN_MODULE' | translate}}</div>
        </div>
      </div>

      <div class="tabs-headers">
        <div class="tabs-header" (click)="selectTab(0)" [ngClass]="selectedTab === 0 ? 'selected':''">
          <span>{{'OVERVIEW_PAGE.OBJECTIVES' | plural: epoc.objectives.length | translate}}</span>
        </div>
        <div class="tabs-header" (click)="selectTab(3)" [ngClass]="selectedTab === 3 ? 'selected':''" *ngIf="epoc.prerequisites">
          <span>{{'OVERVIEW_PAGE.PREREQUISITES' | translate}}</span>
        </div>
        <div class="tabs-header" (click)="selectTab(1)" [ngClass]="selectedTab === 1 ? 'selected':''">
          <span>{{'OVERVIEW_PAGE.RESUME' | translate}}</span>
        </div>
        <div class="tabs-header" (click)="selectTab(2)" [ngClass]="selectedTab === 2 ? 'selected':''">
          <span>{{'OVERVIEW_PAGE.AUTHORS' | plural:(epoc.authors|values).length | translate}}</span>
        </div>
      </div>
      <div class="tabs">
        <div class="tab" *ngIf="selectedTab === 0">
          <div class="course-objective" *ngFor="let objective of epoc.objectives">
            <div class="course-objective-icon"><ion-icon name="checkmark-outline"></ion-icon></div>
            <ion-text>{{objective}}</ion-text>
          </div>
        </div>
        <div class="tab" *ngIf="selectedTab === 3">
          <div class="course-prerequisites" *ngFor="let prerequisite of epoc.prerequisites">
            <div class="course-prerequisites-icon"><ion-icon aria-hidden="true" name="arrow-forward-outline"></ion-icon></div>
            <ion-text>{{prerequisite}}</ion-text>
          </div>
        </div>
        <div class="tab" *ngIf="selectedTab === 1">
          <ion-text class="html-text" [innerHTML]="epoc.summary"></ion-text>
        </div>
        <div class="tab" *ngIf="selectedTab === 2">
          <div class="epoc-author" *ngFor="let author of epoc.authors | values">
            <div class="epoc-author-name">
              <img *ngIf="author.image" [src]="author.image | safe: 'url'"/>
              {{author.name}}
            </div>
            <div class="epoc-author-description html-text" [innerHTML]="author.description"></div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <ng-container *ngFor="let chapter of chapters; let i = index">
    <div class="separator">{{chapterLabel}} {{i + 1}}. {{chapter.title}}</div>
    <div class="preview-content">
      <chapter-info [chapter]="chapter"></chapter-info>
    </div>
    <ng-container *ngFor="let content of chapter.initializedContents; let index = index">
      <div class="preview-content" *ngIf="content.type !== 'simple-question'">
        <common-content [title]="content.title" [subtitle]="content.subtitle" [icon]="iconFromType[content.type]">
          <html-content *ngIf="content.type === 'html'" [html]="content.html | srcConvert"></html-content>
          <video-content *ngIf="content.type === 'video'" [inputContent]="content"></video-content>
          <course-choice *ngIf="content.type === 'choice'" [epocId]="epoc.id" [content]="content"></course-choice>
          <assessment-content *ngIf="content.type === 'assessment'" [inputContent]="content"></assessment-content>
        </common-content>
      </div>
      <ng-container *ngIf="content.type === 'simple-question'">
        <div class="preview-content"><preview-question *ngIf="content.type === 'simple-question'" [content]="content" [question]="epoc.questions[content.question]"></preview-question></div>
        <div class="preview-content"><preview-correction [content]="content" [question]="epoc.questions[content.question]"></preview-correction></div>
      </ng-container>
      <ng-container *ngIf="content.type === 'assessment'">
        <ng-container *ngFor="let question of content.questions | denormalize:epoc.questions; let questionIndex = index;">
          <div class="preview-content"><preview-question [content]="content" [question]="question" [questionIndex]="questionIndex"></preview-question></div>
          <div class="preview-content"><preview-correction [content]="content" [question]="question" [questionIndex]="questionIndex"></preview-correction></div>
        </ng-container>
      </ng-container>
    </ng-container>
    <div class="preview-content">
      <common-content [title]="'PLAYER.MODULE_END.FINISH' | translate:{chapter: chapterLabel}"  [subtitle]="'PLAYER.MODULE_END.CONGRATS' | translate" icon="assets/icon/modulecheck.svg">
        <chapter-end [epoc]="epoc" [chapter]="chapter" [nextChapter]="chapters[i+1]" [chapterLabel]="chapterLabel"></chapter-end>
      </common-content>
    </div>
  </ng-container>
</div>
<div class="preview-wrapper" *ngIf="!epocId">
  <h1>Liste des ePocs disponibles en preview :</h1>
  <ul>
    <li *ngFor="let epoc of library">
      <a [routerLink]="epoc.id">{{epoc.title}}</a>
    </li>
  </ul>
</div>
