<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/home" color="inria-icon"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"SETTINGS_PAGE.SETTINGS" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper" (click)="resetDevModeCount()">
    <ion-list>
      <ion-list-header>
        {{"SETTINGS_PAGE.DISPLAY" | translate}}
      </ion-list-header>
      <ion-item>
        <ion-toggle aria-label="Debug" [(ngModel)]="settings.debug" (ngModelChange)="settingsChanged()">
          {{"SETTINGS_PAGE.DEBUG" | translate}}
        </ion-toggle>
      </ion-item>
      <ion-item *ngIf="settings.debug">
        <ion-label>{{"SETTINGS_PAGE.DEBUG_ERROR" | translate}}</ion-label>
        <ion-button slot="end" color="inria-grey" (click)="throwError()">
          <ion-icon slot="icon-only" name="bug-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-select [label]="'SETTINGS_PAGE.LANGUAGE' | translate" [(ngModel)]="settings.lang" (ngModelChange)="settingsChanged()">
          <ion-select-option *ngFor="let lang of langs | keyvalue" [value]="lang.key">{{lang.value}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select [label]="'SETTINGS_PAGE.THEME' | translate" [(ngModel)]="settings.theme" (ngModelChange)="settingsChanged()">
          <ion-select-option value="auto">{{"SETTINGS_PAGE.THEME_AUTO" | translate}}</ion-select-option>
          <ion-select-option value="light">{{"SETTINGS_PAGE.THEME_LIGHT" | translate}}</ion-select-option>
          <ion-select-option value="dark">{{"SETTINGS_PAGE.THEME_DARK" | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ng-container *ngIf="false">
        <ion-item>
          <ion-select [label]="'SETTINGS_PAGE.FONT' | translate" [(ngModel)]="settings.font" (ngModelChange)="settingsChanged()">
            <ion-select-option value="Inria Sans">Sans serif</ion-select-option>
            <ion-select-option value="Inria Serif">Serif</ion-select-option>
            <ion-select-option value="open-dyslexic">Open Dyslexic</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-range min="12" max="20" step="4" [(ngModel)]="settings.fontSize" (ngModelChange)="settingsChanged()" snaps>
            <ion-icon slot="start" size="small" src="assets/icon/text-size.svg"></ion-icon>
            <ion-icon slot="end" src="assets/icon/text-size.svg"></ion-icon>
            <div slot="label">{{"SETTINGS_PAGE.SIZE" | translate}}</div>
          </ion-range>
        </ion-item>
        <ion-item>
          <ion-range min="1" max="2" step="0.5" [(ngModel)]="settings.lineHeight" (ngModelChange)="settingsChanged()" snaps>
            <ion-icon slot="start" size="small" src="assets/icon/height.svg"></ion-icon>
            <ion-icon slot="end" src="assets/icon/height.svg"></ion-icon>
            <div slot="label">{{"SETTINGS_PAGE.INTERLINE" | translate}}</div>
          </ion-range>
        </ion-item>
        <ion-list-header class="preview">
          {{"SETTINGS_PAGE.PREVIEW" | translate}}
        </ion-list-header>
        <ion-item>
          <ion-text class="preview-settings" [ngStyle]="getStyle()">
            <h4>{{"SETTINGS_PAGE.PREVIEW_TITLE" | translate}}</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias consequatur,
              cumque iusto modi molestiae nihil quibusdam temporibus voluptatem?
            </p>
          </ion-text>
        </ion-item>
      </ng-container>
    </ion-list>
    <ion-list>
      <ion-list-header>
        {{"SETTINGS_PAGE.USER" | translate}}
      </ion-list-header>
      <ng-container *ngIf="user && user.firstname">
        <ion-item *ngIf="user.email">
          <ion-label>{{"SETTINGS_PAGE.USER" | translate}} : {{user.email}}</ion-label>
          <ion-icon color="inria-icon" slot="end" name="log-out-outline" (click)="logout()"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>{{"SETTINGS_PAGE.NAME" | translate}} : {{user.lastname}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{"SETTINGS_PAGE.FIRSTNAME" | translate}} : {{user.firstname}}</ion-label>
        </ion-item>
        <ion-item *ngIf="user.username">
          <ion-label>{{"SETTINGS_PAGE.USERNAME" | translate}} : {{user.username}}</ion-label>
        </ion-item>
      </ng-container>
      <ng-container *ngIf="!user || !user.firstname">
        <ion-item (click)="setUser()" detail>
          <ion-label role="button">{{"SETTINGS_PAGE.DEFINE_USER" | translate}}</ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
    <ion-list *ngIf="info && info.version">
      <ion-list-header>
        {{"SETTINGS_PAGE.APP_INFO" | translate}}
      </ion-list-header>
      <ion-item>
        <ion-label>{{"SETTINGS_PAGE.VERSION" | translate}}</ion-label>
        <ion-note slot="end" (click)="setDevMode($event)">v{{info.version}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>{{"SETTINGS_PAGE.BUILD_VERSION" | translate}}</ion-label>
        <ion-note slot="end">{{info.build}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-toggle [(ngModel)]="settings.isUserOptIn" (ngModelChange)="settingsChanged()">{{"SETTINGS_PAGE.DATA_COLLECTION" | translate}}</ion-toggle>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="settings.devMode">
      <ion-list-header>
        {{"SETTINGS_PAGE.DEVELOPER" | translate}}
      </ion-list-header>
      <ion-item>
        <ion-toggle [(ngModel)]="settings.devMode" (ngModelChange)="disableDevMode($event)">{{"SETTINGS_PAGE.DEV_MODE" | translate}}</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-select [label]="'SETTINGS_PAGE.LIBRARY' | translate" [value]="settings.libraryMode" (ionChange)="libraryChanged($event)">
          <ion-select-option value="libraryUrl">Prod</ion-select-option>
          <ion-select-option value="libraryQlfUrl">Qlf</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="settings.devMode">
      <ion-list-header>
        {{"SETTINGS_PAGE.EPOC_LIBRARIES" | translate}}
      </ion-list-header>
      <ion-item>
        <ion-label>
          <ion-text>Inria</ion-text>
          <p style="white-space: normal">{{libraryUrl}}</p>
        </ion-label>
      </ion-item>
      <ion-item *ngFor="let library of settings.customLibrairies; index as libraryIndex">
        <ion-label>
          <ion-text>{{library.name}}</ion-text>
          <p style="white-space: normal">{{library.url}}</p>
        </ion-label>
        <ion-icon id="present-confirm" name="close-circle" color="inria" slot="end"></ion-icon>
        <ion-alert trigger="present-confirm" [header]="'SETTINGS_PAGE.CONFIRM_DELETE_LIBRARY' | translate" [buttons]="libraryDeleteButtons" (didDismiss)="deleteLibrary($event, libraryIndex)"></ion-alert>
      </ion-item>
      <ion-item id="present-library-prompt">
        <ion-label role="button">{{"SETTINGS_PAGE.ADD_LIBRARY" | translate}}</ion-label>
        <ion-icon name="add-circle" slot="end"></ion-icon>
      </ion-item>
      <ion-alert trigger="present-library-prompt" [header]="'SETTINGS_PAGE.ADDING_LIBRARY' | translate" [buttons]="libraryPromptButtons" [inputs]="libraryPromptInputs"></ion-alert>
    </ion-list>
    <ion-list>
      <ion-list-header>
        {{"SETTINGS_PAGE.EPOC_DATA" | translate}}
      </ion-list-header>
      <div role="button" class="big-button" (click)="deleteData()">
          <div class="big-button-label"><ion-icon aria-hidden="true" name="trash-outline"></ion-icon>{{"SETTINGS_PAGE.DELETE_DATA" | translate}}</div>
          <div class="big-button-sublabel">{{"SETTINGS_PAGE.DATA_EXAMPLE" | translate}}</div>
      </div>
    </ion-list>
  </div>
</ion-content>
