.wrapper{
  max-width: 600px;
  margin:auto;
  padding: 1rem;

  .toc-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;

    img {
      height: 4rem;
      width: 4rem;
      margin-right: 1rem;
      object-fit: cover;
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.33), 0 3px 4px 0 rgba(0,0,0,0.16);
      border-radius: .25rem;
    }

    .toc-header-title {
      font-size: 1.1rem;
      font-weight: bold;
    }
  }
}

.toc-chapter {
  margin-bottom: 1rem;
  padding: .5rem;
  background: var(--ion-color-content);
  box-shadow: 0 6px 10px 0 var(--ion-color-shadow);
  border-radius: .5rem;

  &-summary{
    display: flex;
  }

  &-progress{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    width: 2.5rem;
    height:2.5rem;
    margin-right: .75rem;
    border-radius: 1rem;
    color: var(--ion-color-inria-icon);
    background: var(--ion-color-contrast);

    &.done{
      color: var(--ion-color-inria-correct);
      background: var(--ion-color-correct-background);
    }
  }

  &-info{
    display: block;
    flex:1;
    &-label{
      font-weight: bold;
    }
    &-title{
      margin-right: 1rem;
    }
    &-details{
      color:var(--ion-color-inria);
    }
  }

  &-open{
    align-self: center;

    ion-icon{
      display: block;
    }
  }

  &-details{
    border-top: 1px solid var(--ion-color-contrast);

    &-item{
      display: flex;
      align-items: center;
      padding: .5rem;
      margin-top: .5rem;
      border-radius: 8px;
      background: var(--ion-color-contrast-2);

      &.viewed{
        background: var(--ion-color-correct-background);
        
        .toc-chapter-details-item-icon{
          background: var(--ion-color-icon-correct-background);
        }
      }

      &-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        width: 2rem;
        height:2rem;
        margin-right: 1rem;
        border-radius: .8rem;
        background: var(--ion-color-contrast);
      }
    }
  }
}
