<ion-header mode="ios" #header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/home" color="inria-icon"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'TOC_PAGE.HEADER' | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="displayMenu()">
                <ion-icon slot="icon-only" name="menu-outline" color="inria-icon"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="contentInitialized">
    <div class="wrapper">
        <div class="toc-header">
            <img aria-hidden="true" alt="ePoc Image" [src]="(epocService.rootFolder +  epoc.image) | safe: 'url'">
            <div class="toc-header-title">{{epoc.title}}</div>
        </div>
        <div class="toc-content" tabindex="-1">
            <div class="toc-chapter" *ngFor="let chapter of epoc.chapters | denormalize;let index = index">
                <div class="toc-chapter-summary">
                    <div class="toc-chapter-progress" [ngClass]="{'done':chapter.done}">
                        <ion-icon aria-hidden="true" name="checkmark-outline" *ngIf="chapter.done"></ion-icon>
                        <ion-icon aria-hidden="true" name="arrow-forward-outline" *ngIf="!chapter.done && chapter.chapterOpened"></ion-icon>
                        <ion-icon aria-hidden="true" name="time-outline" *ngIf="!chapter.done && !chapter.chapterOpened"></ion-icon>
                    </div>
                    <div class="toc-chapter-info">
                        <div class="toc-chapter-info-title" [routerLink]="chapter.resumeLink">
                            <div class="toc-chapter-info-label">
                                {{epoc.parameters.chapterParameter ? epoc.parameters.chapterParameter : 'Chapitre'}} {{index + 1}}
                            </div>
                            {{chapter.title}}
                        </div>
                        <div class="toc-chapter-info-details" (click)="toggleDetails(chapter)">
                            <ng-container *ngIf="chapter.opened">{{'TOC_PAGE.VIEW_LESS' | translate}}</ng-container>
                            <ng-container *ngIf="!chapter.opened">{{'TOC_PAGE.VIEW_MORE' | translate}}</ng-container>
                        </div>
                    </div>
                    <div role="link" [attr.aria-label]="'Allez à' + (epoc.parameters.chapterParameter ? epoc.parameters.chapterParameter : 'Chapitre') + (index+1)" class="toc-chapter-open" [routerLink]="chapter.resumeLink">
                        <ion-icon aria-hidden="true" name="chevron-forward-outline" color="inria"></ion-icon>
                    </div>
                </div>
                <div class="toc-chapter-details" *ngIf="chapter.opened">
                    <ng-container *ngFor="let content of chapter.contents | denormalize:epoc.contents;">
                        <ng-container *ngIf="!content.hidden">
                            <div class="toc-chapter-details-item" [ngClass]="{'viewed':content.viewed}" [routerLink]="'/epoc/play/'+epoc.id+'/'+chapter.id+'/content/'+content.id">
                                <div aria-hidden="true" class="toc-chapter-details-item-icon">
                                    <ion-icon *ngIf="content.type === 'html'" name="document-text-outline" slot="start"></ion-icon>
                                    <ion-icon *ngIf="content.type === 'video'" name="play-outline" slot="start"></ion-icon>
                                    <ion-icon *ngIf="content.type === 'audio'" name="musical-notes-outline" slot="start"></ion-icon>
                                    <ion-icon *ngIf="content.type === 'assessment'" name="checkbox-outline" slot="start"></ion-icon>
                                    <ion-icon *ngIf="content.type === 'simple-question' && !+epoc.questions[content.question].score"
                                              name="bulb-outline" slot="start"></ion-icon>
                                    <ion-icon *ngIf="content.type === 'simple-question' && +epoc.questions[content.question].score"
                                              name="checkbox-outline" slot="start"></ion-icon>
                                    <ion-icon *ngIf="content.type === 'choice'" name="git-branch-outline" slot="start"></ion-icon>
                                </div>
                                <div>{{content.title}}</div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</ion-content>
