<div class="video-player" *ngIf="!isAndroid">
  <div aria-hidden="true" class="video-container" [ngClass]="{'playing':playing}" (click)="play()">
    <video *ngIf="src" #video disablePictureInPicture playsinline preload="metadata"
           [src]="src | safe: 'url': epocService.rootFolder">
      <ng-container *ngFor="let sub of subtitles">
        <track kind="subtitles" [label]="sub.label" [srclang]="sub.lang"
               [src]="sub.src | safe: 'url': epocService.rootFolder">
      </ng-container>
    </video>
    <div class="poster" *ngIf="!hasPlayed">
      <h4 class="title">{{title}}</h4>
      <img [src]="poster | safe: 'url': epocService.rootFolder" *ngIf="poster"/>
    </div>
    <ng-container *ngIf="src">
      <div class="video-play-overlay">
        <ion-icon src="assets/icon/play.svg"></ion-icon>
      </div>
      <div class="video-timeline" (click)="seek($event)" [style.display]="controls.timeline ? 'block':'none'">
        <div class="video-timeline-progress" [style.width]="progress +'%'" #timelineProgress></div>
        <div class="video-timeline-cursor" [style.left]="progress +'%'" #timelineCursor></div>
      </div>
      <div class="video-overlay-controls">
        <ion-icon name="scan-outline" (click)="fullscreen($event)" *ngIf="controls.overlay"></ion-icon>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="src && controls.show">
    <ion-item class="hidden-select" *ngIf="controls.subtitles && subtitles && subtitles.length >0">
      <ion-label>Sous-titres</ion-label>
      <ion-select #tracks [value]="trackSelected" (ionChange)='changeSubtitles($event)'>
        <ion-select-option value="none">Aucun</ion-select-option>
        <ion-select-option [value]="sub.lang" *ngFor="let sub of subtitles">{{sub.label}}</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="video-actions">
      <div class="video-actions-left" *ngIf="controls.subtitles">
        <button class="video-action" (click)="captions()" >
          <ion-icon name="logo-closed-captioning"></ion-icon>
        </button>
      </div>
      <div class="video-actions-center" *ngIf="controls.playbutton">
        <button class="video-action" aria-label="-10s" (click)="jump(-10)">-10</button>
        <button class="video-action" aria-label="Lancer la lecture" (click)="play()">
          <ion-icon [name]="playing ? 'pause':'play'"></ion-icon>
        </button>
        <button class="video-action" aria-label="-10s" (click)="jump(10)">+10</button>
      </div>
      <div class="video-actions-right" *ngIf="controls.fullscreen">
        <button class="video-action" aria-label="Plein écran" (click)="fullscreen($event)">
          <ion-icon  name="expand"></ion-icon>
        </button>
      </div>
    </div>
  </ng-container>
</div>

<div class="video-player" *ngIf="isAndroid">
  <div [id]="id"></div>
  <div class="video-container" (click)="playAndroid()">
    <div class="poster">
      <h4 class="title">{{title}}</h4>
      <img [src]="poster | safe: 'url': epocService.rootFolder" *ngIf="poster"/>
    </div>
    <div class="video-play-overlay" *ngIf="src">
      <ion-icon src="assets/icon/play.svg" *ngIf="!playing"></ion-icon>
      <ion-spinner *ngIf="playing"></ion-spinner>
    </div>
  </div>
</div>
