/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '_colors';
@import '_utils';
@import '_fonts';

body{
  color: var(--ion-color-text);
  line-height: 1.6;
  --ion-font-family: 'Inria Sans', sans-serif;
  --ion-text-color: var(--ion-color-text);
  --epoc-border-radius: .8rem;
  --epoc-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.334316), 0px 9px 11px rgba(0, 0, 0, 0.160737);
}


ion-toolbar {
  padding: 0 1rem;
  --padding-top:0;
  --padding-bottom:0;
  --padding-start:0;
  --padding-end:0;
  --min-height:55px;
  .icon-btn {
    margin-left: .5rem;
    font-size: 15px;
    height:auto;
    --padding-top: .25rem;
    --padding-bottom: .25rem;
    --padding-start:.25rem;
    --padding-end:.25rem;
    --box-shadow: none;
    --color: var(--ion-color-inria);
    --color-activated: var(--ion-color-inria-shade);
  }

  .logo {
    text-align: left;

    .epoc-logo{
      width: 100px;
      height:30.5px;
      background: var(--epoc-logo) no-repeat;
    }

    .by-inria{
      width: 35px;
      height: 9.4px;
      margin-left: 65px;
      margin-top: -5px;
      background: var(--by-inria) no-repeat;
    }

    ion-img {
      display: block;
      width: 100px;
      height: auto;
    }

    ion-text {
      display: block;
      margin-top: 5px;
      margin-left:20px;
      font-size: .8em;
    }
  }

  ion-back-button.back-button-has-icon-only{
    font-size: 1rem;
    width: 32px;
  }

  .title-default{
    font-size: 1rem;
    text-transform: uppercase;
    padding-inline-start: 35px;
    padding-inline-end: 35px;
    padding-top: .2em;
  }
}

.onboarding{
  &::part(pagination){
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: .5rem;
    --swiper-pagination-bullet-inactive-color: var(--ion-color-unique-2);
    --swiper-pagination-color: var(--ion-color-inria);
  }

  &::part(bullet), &::part(bullet-active) {
    width: 5px;
    height:5px;
    opacity: 1;
  }
}

ion-button{
  &[size="large"]{
    height: 2.8rem;
    font-size: 1.2rem;
  }
  &[size="medium"]{
    height: 2.5rem;
    font-size: 1rem;
  }
  min-height: 1.7rem;
  height: 1.7rem;
  margin:0;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0;
  --box-shadow:none;
  --border-radius: 1.2em;

  &.expanded{
    flex-grow: 1;
  }

  &.round{
    --padding-start: 0;
    --padding-end: 0;
    width:27px;
    font-size: 17px;

    span.ellipsis{
      padding-top: 0;
      padding-bottom: .4em;
      line-height: 0;
    }
  }

  & + ion-button:not(.button-block) {
    margin-left: .5rem;
  }

  & + ion-button.button-block {
    margin-top: 1rem;
  }

  span {
    padding-top: .2em;
  }
}

ion-range.progress-indicator{
  padding: 0;
  margin: 1rem;
  --knob-size:0;
  --knob-background:transparent;
  --knob-box-shadow: none;
  --bar-height:10px;
  --bar-border-radius:5px;
  overflow: hidden;
  border-radius: 1rem;

  &::part(bar){
    background: var(--ion-color-contrast);
  }

  &::part(bar-active){
    background: var(--ion-color-inria-spe);
  }

  &::part(tick), &::part(tick-active){
    top: calc((var(--height) - var(--bar-height) + 4px) / 2);
    width: calc(var(--bar-height) - 4px);
    height: calc(var(--bar-height) - 4px);
    border-radius: 50%;
    background: #D0D7E1;
    transform: translateX(calc(-100% - 4px));
  }

  &::part(tick-active){
    background: white;
  }

  &::part(knob){
    display: none;
  }
}

.spin{
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

// hide back button text on android
.sc-ion-back-button-md{
  display: none;
}

.custom-action-sheet{
  .action-sheet-wrapper{
    margin-bottom:0;
  }
  .action-sheet-container{
    padding: 0;
  }
  .action-sheet-group{
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: var(--ion-color-content);

    &:last-child{
      margin-bottom: 0;
      padding-bottom: var(--ion-safe-area-bottom);
    }
  }
  .action-sheet-title{
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--ion-color-text);
    background: none;
    text-align: left;
  }
  .action-sheet-sub-title{
    padding: 0;
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--ion-color-inria-red);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .action-sheet-button{
    margin: 0 1rem .5rem 1rem;
    width: calc(100% - 2rem);
    background: var(--ion-color-contrast);
    border-radius: .5rem;
  }
  .action-sheet-button-inner{
    justify-content: left;
    color: var(--ion-color-text);
  }

  .action-sheet-icon{
    font-size: 1.4rem!important;
    margin-right: 1rem !important;
    color: var(--ion-color-icon-2);
  }

  .action-sheet-group-cancel{
    border-radius: 0;
    .action-sheet-button{
      padding: 0;
      margin-top: 1rem;
      height: 3rem;
      border-radius: 2rem;
      border: 1px solid var(--ion-color-inria);
    }
    .action-sheet-button-inner{
      padding-top: .2em;
      justify-content: center;
      background: var(--ion-color-fill-button);
      color: var(--ion-color-icon-2);
    }
  }

  &.dropdown-list{
    .action-sheet-group:not(.action-sheet-group-cancel) {
      .action-sheet-button{
        height:auto;
        contain: content;
      }
    }
  }
}

ion-toast.badge-toast {
  --border-radius: var(--epoc-border-radius);
  --background: var(--ion-color-content);
  --box-shadow: 0 6px 14px 0 var(--ion-color-shadow);
  --color: var(--ion-color-text);

  &::part(header) {
    color: var(--ion-color-inria);
    font-weight: bold;
  }

  &::part(message) {
    color: var(--ion-color-text);
  }

  &::part(icon) {
    position: relative;
    background: var(--ion-color-inria-base-button) url('/assets/icon/badge/shape.svg');
    background-size: 40px 44px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    width: 16px;
    height: 16px;
    margin: .8rem 0 .8rem .8rem;
    padding: 20px 22px 24px 22px;

    &:before {
      content:'';
      position: absolute;
      width: 40px;
      height:44px;
      top: 8px;
      left: 10px;
      background: url('/assets/icon/badge/shadow.svg');
      background-size: cover;
    }
  }
}

.ion-page {
  background: var(--ion-color-background);
}

.bold{
  font-weight: 700;
}

.semibold{
  font-weight: 600;
}

// Hot fix scroll flicker
video {
  transform: translateZ(0);
}
.ios video{
  transform: none;
}


// Reader
.reader .page-content, .about-content-wrapper, .preview-settings, .transcript, .explanation-text, .html-text{
  color: var(--ion-color-text);

  video{
    height: 101%;
  }

  .vjs-poster{
    background-size: cover;
  }

  @for $i from 1 through 6 {
    h#{7 - $i} {
      font-size: pow(1.1, $i) * 1em;
      font-weight: 700;
      line-height: 1;
      color:var(--ion-color-text);
      margin: 1em 0 .5em 0;
      padding: 0;
      text-transform: unset;
    }

    * + h#{7 - $i} {
      margin-top: 1em;
    }
  }

  p, ul, ol, table, pre, blockquote, video {
    margin: 0 0 1em 0;
  }

  ul, ol{
    padding-left: 1em;

    li{
      padding-bottom: .2em;
    }
  }

  figure {
    margin: 1em 0 1.5em 0;
    color: var(--ion-color-inria-blue);

    img{
      display: block;
      max-width: 100%;
      height: auto;
      margin: auto;
    }

    figcaption {
      font: italic smaller sans-serif;
      padding: 3px;
      text-align: center;
    }
  }

  blockquote {
    padding: 0 1em;
    border-left: .25em solid #dfe2e5;
  }

  table{
     position: relative;
     width:100%;
     text-align: left;
     border-collapse: collapse;

     thead{
       position: relative;

       &:before{
         content: '';
         width: 1em;
         height: 1em;
         position:absolute;
         top: -0.2em;
         left: -0.2em;
         background: var(--ion-color-inria-red);
       }
     }

     th{
       position: relative;
       padding: .4em .4em .4em .4em;
       font-weight: 500;
       color:white;
       background: var(--ion-color-inria-blue);
       border:none;
       z-index: 1;
     }

     td{
       padding: .4em .4em .4em .4em;
       border: 1px solid var(--ion-color-inria-blue);
     }

     &.striped{
       tr:nth-of-type(2n+1){
         background: var(--ion-color-inria-light);
       }
     }
   }
}

// Fix question card overflow
.question-card .ion-text-wrap{
  word-break: break-word;
}

// Remove transition to not show answer
.flipper.notransition{
  transition: none!important;
  ion-item{
    --transition: none;
  }
}

.transcript{
  padding: 1em;
}

.swipe-modal {
  margin: 15% 5% 15% 5%;
  border: 1px solid black!important;
  border-radius: 8px;
}

.dropdown-actionSheet {
  --button-background: #384157;
  --button-background-activated: white;
  .action-sheet-button {
    border-bottom: 1px solid #ADABC2;
  }

  .action-sheet-button:last-of-type {
    border-bottom: 0px;
  }
}

.dropdown-actionSheet span {
  color: #ADABC2;
}

body.preview{
  position: relative;
  height:auto;
  max-height: none;
  overflow-y: visible;
  background: var(--ion-color-background);

  ion-router-outlet, .ion-page{
    position: relative;
    inset: auto;
    overflow: visible;
    display: inline;
  }
}

.alert-alignleft{
  .alert-message {
    text-align: left;
  }
}

.tabs-headers{
  display: flex;
  padding: 1rem;
  gap: 0 1rem;
  border-bottom: 1px solid var(--ion-color-item);
  overflow-x: scroll;

  .tabs-header {
    flex: 1 1 0;
    padding: 0 .5rem;
    text-align: center;
    background: var(--ion-color-item);
    border-radius: 1em;
    font-size: .875rem;
    text-transform: uppercase;

    span{
      display: inline-block;
      font-weight: bold;
      padding-top: .1em;
    }

    &.selected{
      color:white;
      background: var(--ion-color-inria);
    }
  }
}

.epoc-specs{
  display: flex;
  padding: 1rem;
  font-size: 0.85rem;
  color: var(--ion-color-specs);
  text-align: center;
  align-items: center;
  justify-content: center;

  .epoc-spec{
    padding: 0 1rem;
  }

  .epoc-spec:nth-child(2){
    border-left: 1px solid var(--ion-color-unique-2);
    border-right: 1px solid var(--ion-color-unique-2);
  }

  ion-icon{
    font-size: 1.5rem;
  }
}

div.epoc-author{
  margin-bottom: 1rem;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid var(--ion-color-item);

  &:last-child{
    border-bottom: none;
  }

  &-name{
    display: flex;
    font-weight: bold;
    line-height: 1.2;
    align-items: center;

    img {
      width: 3rem;
      height: 3rem;
      margin-right: 1em;
      margin-bottom: 5px;
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;
    }
  }

  &-title{
    font-size: 0.875em;
    color: var(--ion-color-text-2);
  }

  &-description{
    font-size: .875rem;
  }
}

span.epoc-author{
  display: inline-block;
  width: calc(50% - 10px);
  font-size: 0.75rem;
  color: var(--ion-color-text-2);
  text-align: right;

  &.align-left {
    text-align: left;
  }

  &.align-center {
    text-align: center;
  }

  &-splitter{
    display: inline-block;
    width:20px;
    color: var(--ion-color-unique-2)
  }
}

.qr-scan .ion-page{
  background: transparent !important;
}


////////////////////////// Dark mode implentation //////////////////////////
@media (prefers-color-scheme: light) {
  .dark {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .light {
    display: none;
  }
}


ion-content{
  --background: var(--ion-color-background);
}

ion-toolbar{
  --background: var(--ion-color-content);
  --border-color: var(--ion-color-content);
  box-shadow: 0 6px 14px 0 var(--ion-color-shadow);
  .icon-btn{
    --background: var(--ion-color-content);
    --background-activated: var(--ion-color-content);
  }
}

ion-list{
  --ion-background-color: var(--ion-color-background);
}

.base-btn{
  color: var(--ion-color-text-button);
}

.alert-wrapper{
  --ion-background-color: var(--ion-color-background);
  --background: var(--ion-color-background);
}



ion-card{
  background-color: var(--ion-color-content);
}

.title-icon {
  color: var(--ion-color-icon-2);
  background: var(--ion-color-contrast);
}

[aria-checked=true].sc-ion-alert-md .sc-ion-alert-md .alert-radio-label, .alert-radio-label.sc-ion-alert-md  {
  color:var(--ion-color-text);
}

a.about-page-link{
  color: var(--ion-color-text);
}



swiper-container {
  --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
  --swiper-pagination-color: var(--ion-color-inria);
  --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
  --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
  --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
}

swiper-slide {
  display: flex;
  position: relative;

  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-size: 18px;

  text-align: center;
  box-sizing: border-box;
}

swiper-slide img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

iframe.plugin{
  width:100%;
  height:auto;
  border:none;

  &.invisible{
    position: absolute;
    top:0;
    left:0;
    width:0;
    height:0;
  }
}

.plt-mobile .glightbox-clean .gclose{
  top: calc(var(--ion-safe-area-top) + 15px);
  right: calc(var(--ion-safe-area-right) + 10px);
}