<div class="responses" [ngClass]="{'dragging': isDragging}" *ngIf="responses.length > 0">
  <div class="response-item">
    <span>{{this.responses[0].label}}</span>
    <ion-icon src="/assets/icon/slider.svg"></ion-icon>
    <div class="response-item-overlay" #dropItem></div>
  </div>
</div>
<div class="drop-zones">
  <ion-range class="progress-indicator" disabled="true" mode="md" step="1" min="0" *ngIf="!disabled"
             [max]="question.responses.length" [value]="question.responses.length - responses.length" snaps="true"></ion-range>
  <p class="drop-zones-instruction" *ngIf="!disabled">
    <ng-container *ngIf="question.statement">
      <span class="custom" *ngIf="!disabled" [innerHTML]="question.statement | nbsp | srcConvert | safe:'html'"></span>
    </ng-container>
    <ng-container *ngIf="!question.statement">
      <ion-icon src="/assets/icon/glisser2.svg"></ion-icon>
      <span>{{'QUESTION.DRAG_DROP_INSTRUCTION' | translate}}</span>
    </ng-container>
  </p>
  <div class="drop-zone" [ngClass]="{'open': zone.isOpen && answer[zoneIndex].length > 0}" (click)="addResponse(zoneIndex)" *ngFor="let zone of dropZones; let zoneIndex = index;" #dropZonesElems>
    <div class="zone-header">
      <div class="zone-label">{{zone.label}}</div>
      <div class="zone-count" [ngClass]="{'active':answer[zoneIndex].length > 0}">{{answer[zoneIndex].length}}</div>
      <ion-icon name="chevron-forward-outline" (click)="openZone($event, zone)">></ion-icon>
    </div>
    <div class="zone">
      <div class="response-item sorted" *ngFor="let response of answer[zoneIndex]; let responseIndex = index;">
          {{response.label}} <ion-icon name="close" *ngIf="!disabled" (click)="removeResponse($event, zoneIndex, responseIndex)"></ion-icon>
      </div>
    </div>
  </div>
</div>
